.slot_frame {
    position: fixed;
    top:40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}


.column {
    overflow: hidden;
    position: relative;
    height: 150px;
    width: 50px;
    background-color: #bbd5ee;
    margin: 0 5px;
    box-shadow: inset 5px 5px 10px #00000080;
}

.fruts {
    position: absolute;
    left: 0;
    top:0;
    height: 60px;
    width: 50px;
    display:block;
    z-index: 1;
    animation-name: spin;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: paused;
    transform: translateY(-60px);
}

.frut {
    position: absolute;
    left: 0;
    top:0;
    height: 60px;
    width: 50px;
    display:block;
    z-index: 1;
    animation-name: spin_rev;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: paused;
    transform: translateY(-60px);
}



.column1 .fruts:nth-child(1),
.column2 .frut:nth-child(1),
.column3 .fruts:nth-child(1),
.column4 .frut:nth-child(1) {
    animation-delay:  0.2s;
}

.column1 .fruts:nth-child(2),
.column2 .frut:nth-child(2),
.column3 .fruts:nth-child(2),
.column4 .frut:nth-child(2) {
    animation-delay:  0.4s;
}

.column1 .fruts:nth-child(3),
.column2 .frut:nth-child(3),
.column3 .fruts:nth-child(3),
.column4 .frut:nth-child(3) {
    animation-delay:  0.6s;
}

.column1 .fruts:nth-child(4),
.column2 .frut:nth-child(4),
.column3 .fruts:nth-child(4),
.column4 .frut:nth-child(4) {
    animation-delay:  0.8s;
}

.column1 .fruts:nth-child(5),
.column2 .frut:nth-child(5),
.column3 .fruts:nth-child(5),
.column4 .frut:nth-child(5) {
    animation-delay:  1s;
}



.column1 .fruts {
    animation-duration: 0.5s;
}

.column2 .frut {
    animation-duration: 0.5s;
}

.column3 .fruts {
    animation-duration: 0.5s;
}

.column4 .frut {
    animation-duration: 0.5s;
}



.fruts:before {
    position: absolute;
    font-size: 40px;
    top: 0;
    left: 0;
    display: block;
}

.frut:before {
    position: absolute;
    font-size: 40px;
    top: 0;
    left: 0;
    display: block;
}

.cherry:before {
    content:"🍒"; 
}

.lemon:before {
    content:"🍋";
}

.banana:before {
    content:"🍌";
}

.pineapple:before {
    content: "🍍"; 
}

.grape:before {
    content: "🍇"; 
}


@keyframes spin {
    100% {
        transform: translateY(240px);
    }
    0% {
        transform: translateY(-60px);
    }
} 


@keyframes spin_rev {
    100% {
        transform: translateY(-60px);
    }
    0% {
        transform: translateY(240px);
    }
} 

.spin_b {
    position: absolute;
    top: 55%;
    left: 50%;
    height: 60px;
    width: 60px;
    transform: translate(-50%, -45%);
	border: none;
	background:  #c54e58;
	color: #ffffff;
	font-size: 20px;
    box-shadow: inset 0px 0px 15px #00000080;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    border-radius: 20px;
    padding-top: 5px;
    font-family: monospace
}


/* .spin_b:hover {
	background-color: rgb(48, 128, 78);
} */


/* #btn:checked ~ .slot_frame .fruts,
#btn:checked ~ .slot_frame .frut {
    animation-play-state:running;
    filter: blur(30px);
} */


button:active ~ .slot_frame .fruts,
button:active ~ .slot_frame .frut {
    animation-play-state:running;
    filter: blur(2px); 
}

/* #btn:checked ~ .red_line {
    opacity: 0;

} */

/* .red_line {
    width: 228px;
    border: 1px solid red;
    position:fixed;
    top: 35%;
    left: 42%;
    opacity: 1;
}  */

