* {
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* margin: 0;
    padding: 0; */
}

.container {
    max-width: 1400px;
    margin-inline: auto;
}

.site__template {
    display:grid;
    border: 2px solid rgb(211, 20, 201);
    grid-template-areas:    
                    "head"
                    "cont"
                    "foot" ;
    grid-template-rows: auto auto 100px;
    grid-template-columns: 1fr ;
    padding: 5px;
    gap: 10px;

        .header__wrap {
            display:grid;
            grid-area: head;
            border: 2px solid rgb(64, 12, 184);
            grid-template-areas:    
                            "top top"
                            "sidebar menu";
            grid-template-rows: 50px auto ;
            grid-template-columns: auto auto;
            gap: 10px;
            padding: 20px;
            align-items:start;
            
            
                .header__top__list {
                    display: grid;
                    grid-area: top;
                    border: 2px solid rgb(52, 184, 12);
                    grid-template-rows: auto;
                    grid-template-columns: 1fr 8fr 1fr;
                    gap: 5px;
                    padding: 5px;


                        .top__item {
                            border: 2px solid rgb(184, 12, 26);
                            text-align: center;
                            align-self: center;

                                h1 {
                                    margin: 0;
                                    text-transform: uppercase;
                                }

                                img {
                                    max-width: 30px;
                                }
                        }
                }


                .header__sidebar__list {
                    grid-area: sidebar;
                    border: 2px solid rgb(52, 184, 12);
                    padding: 5px;  

                        .sidebar__item {
                            border: 2px solid rgb(184, 12, 26);
                            margin-block: 2px;
                        }
                }

                .header__menu__list {
                    display: grid;
                    grid-area: menu;
                    border: 2px solid rgb(52, 184, 12);
                    grid-template-rows: auto;
                    grid-template-columns: repeat(8, 1fr);
                    gap: 5px;
                    padding: 5px;   


                        .menu__item {
                            border: 2px solid rgb(184, 12, 26);
                            text-align: center;
                        }
                
                }

        }

            .main__wrap {
                display:grid;
                border: 2px solid rgb(64, 12, 184);
                grid-area: cont;
                grid-template-rows: 1fr 4fr 4fr 4fr 4fr;
                grid-template-columns: 1fr 1fr 1fr;   
                padding: 5px;  
                gap: 5px;

                    .card {
                        border: 2px solid rgb(241, 36, 36);
                        text-align: center;
                        width: 100%;
                        align-content: center;
                        cursor: pointer;
                        transition: all 0.2s ease-in-out;
                    }
                
                    .card:hover {
                        transform: scale(0.95);
                    }

                    
                    .products__header {
                        grid-column: 1/4;
                        border: 2px solid rgb(52, 184, 12);
                        width: 100%;
                        text-align: center;
                        
                            h2 {
                                margin: 0;
                            }
                    }

                    .card:nth-child(2) {
                        grid-row: 2/5;
                        background-color: rgb(211, 94, 211);
                    }

                    .card:nth-child(3) {
                        background-color: rgb(94, 211, 186);
                    }

                    .card:nth-child(4) {
                        grid-row: 2/4;
                        grid-column: 3/4;
                        background-color: rgb(209, 211, 94);
                    }

                    .card:nth-child(5) {
                        background-color: rgb(211, 131, 94);
                    }

                    .card:nth-child(6) {
                        grid-column: 2/4;
                        background-color: rgb(94, 211, 152);
                    }

                    .card:last-child {
                        background-color: rgb(94, 125, 211);
                        grid-column: 1/4;
                    }

            }

            
            .footer__wrap {
                grid-area: foot;
                border: 2px solid rgb(64, 12, 184);
                text-align: center;
                height: 100px;
            }
        

}