* {
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* margin: 0;
    padding: 0; */
}

.container {
    max-width: 1400px;
    margin-inline: auto;
}

* {
    box-sizing: border-box;
  }
  html {
    height: 100vh;
 
  }
  body {
    margin: 0;
  }



  .form1__wrap .fields__wrap {
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
    max-width: 400px;

    input {
      background-color: beige;
      border-color: aquamarine;
      border-radius: 10px;

      &:hover {
        background-color: rgb(199, 224, 88);
        border-color: rgb(255, 127, 127);
      }

      &:focus {
        outline-color: green;
      }
    }
  }

.radio__wrap {

	label:focus {
		outline-color: blueviolet;
	}
}