* {
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* margin: 0;
    padding: 0; */
}

.container {
    max-width: 1400px;
    margin-inline: auto;
}

* {
    box-sizing: border-box;
  }
  html {
    height: 100vh;
 
  }
  body {
    margin: 0;
  }


.form1__wrap {
  #text:checked ~ p {
    display: none;
  }
}

.form2__wrap {


  .article1, .article2, .article3 {
    display: none;
  }

  #text1:checked ~ .article1,
  #text2:checked ~ .article2,
  #text3:checked ~ .article3 {
    display: block
  }

}

.form3__wrap {

  .radio__blok1, .radio__blok2, .p1, .p2, .p3, .pp1, .pp2, .pp3 {
    display: none;
  }


  #check1:checked ~ .radio__blok1,
  #check2:checked ~ .radio__blok2 {
    display: block;
  }

  #radio11:checked ~ .p1,
  #radio12:checked ~ .p2,
  #radio13:checked ~ .p3,
  #radio21:checked ~ .pp1,
  #radio22:checked ~ .pp2,
  #radio23:checked ~ .pp3 {
    display: block;
  }

}