.login__form {

    form:has(#pass:valid):has(#log:valid) .btn {
        pointer-events:all;
    }
}

.btn {
    pointer-events: none;
    padding:5px 25px;
    border-radius: 10px;
}

main:has( #signin:checked ) .admin__page {
    display: block;
}

main:has( #signin:checked ) .login__page {
    display: none;
}

.form__wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


