.login {

    &__page {
        width: 100vw;
        height: 100vh;
        padding-block: 156px;
        background-color: #FFD1B0 ;
        background-image: url('images/birdback.png');
        background-size: auto calc(100% - 117px) ;
        background-repeat: no-repeat;
        background-position: 0 117px;
    }

    &__screen {
        height: 100%;
        max-width: 1360px;
        margin-inline: auto;
        display: flex;
        flex-direction: row;
        gap: 70px;
        justify-content: space-between;
        background-image: linear-gradient(#fedcc577, #feddc693) ;
        border-radius: 24px;
        padding-block: 80px;
        padding-inline: 92px 70px;

            .image__wrap {
                
                img {
                    height: 100%;
                }
            }
    }
}



