/*Main changes */
* {
    box-sizing: border-box;
}

body {
    font-family: arial;
    background-color: #e0e0e0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;

}

/* Header */
.header {
    box-shadow: 0 0 5px #302a2a;
    background-color: #232F3E;
}

.top_banner {
    text-align: center;
    background: linear-gradient(25deg, #f1b340, #f14040);
    color: #e0e0e0;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.row {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.col-3 {
    width: calc(100%/3);
}

.col-4 {
    width: calc(100%/4);
}

.header nav {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.header nav a {
    text-decoration: none;
    color: #e0e0e0;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    margin: 0 14px;
}

nav a{
    transition: all 0.3s ease-in-out;
}

a:not(.footer_header_text):hover {
    transform: scale(1.2);
}


.logo {
    text-align: center;
    transition: all 0.5s ease-in-out;
}

.logo:hover {
    transform: rotate(-360deg);
}

header img {
    height: 100px;
    width: auto;
}



/* Footer */

.footer {
    background-color: #232F3E;
    color: #e0e0e0;
    font-size: 1rem;
}

.footer__top {
    padding-top: 40px;
    padding-bottom: 15px;
}


.footer nav a{
    display: block;
    text-decoration: none;
    color: #e0e0e0;
}

.footer__center {
    padding-top: 15px;
    padding-bottom: 15px;
}

.footer__center img {
    height: 30px;
    width: auto;
    filter: invert(100%);
    transition: all 0.3s ease-in-out;
}

.footer__app, .footer__social {
    display:flex;
    align-items: center;
}

.footer__app a, .footer__social a{
    margin-left: 5px;
}

.footer__bottom {
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid #e0e0e073;
    font-size: 12px;
}

.footer_header_text {
    color:white;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

/* Main */
/*Tovary */

.products {
    background-color: #ffffff;
    margin-top: 35px;
    margin-bottom: 40px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(117, 116, 116);
}

.cart-header {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color:#232F3E;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-top: 20px;
}

.cart-footer {
    font-size: 12px;
    color:#232F3E;
    margin-top: 20px;
    padding-bottom: 5px;
    padding-left: 5px;
    cursor: pointer;
    color:rgb(71, 71, 236);
}

.cart-footer:hover {
    color:rgb(196, 30, 30);
}

.cart-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.img-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.img-container:hover {
    transform: scale(0.9);
}


.img-container img{
    width: 120px;
    height: 200px;
    object-fit:cover;
    border-radius: 10px;
}

.shop__carts-title {
    font-size: 12px;
    color:#232F3E;
    margin: 2px;

}


/*promo banner*/

.promo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 5px;
    gap: 10px;
    width: 100%;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(50% - 5px);
    background-color: rgb(167, 138, 86) ;
    box-shadow: 0 0 5px rgb(117, 116, 116);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.content-container:hover {
    transform: scale(1.02);
}


.content-container a{
    border-radius: 10px;
    padding: 5px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    background-color: white;
    box-shadow: 0 0 5px rgb(88, 88, 88);
}

.content-container img {
    margin: 40px;
}
 .content-container h2 , .content-container span {
    padding: 0 15px 15px 15px;
 }

 .content-container h2 {
    font-size: 38px;
    font-weight: bolder;
    padding-bottom: 0;
    text-transform: uppercase;
 }


.top-left-banner {
    background: radial-gradient(white, rgb(211, 65, 199));
}

.top-right-banner {
    background: linear-gradient(rgb(255, 181, 97), rgb(230, 233, 58));
    align-items:flex-start;
}

.bottom-left-banner {
    background: linear-gradient(85deg, rgb(255, 255, 255), rgb(47, 149, 231));
    align-items:flex-start;
}

.bottom-right-banner {
    background: linear-gradient(-85deg, rgb(255, 255, 255), rgb(208, 221, 90));
    
}

.bottom-right-banner img {
    transform: rotate(-20deg);
}

/*full size banner*/

.background-banner {
    background-image: url(widemob.jpg);
    background-size: cover;
    height: 300px;
    width: auto;
    margin-bottom: 15px;

}

.background-banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 300px;
    justify-content: center;
}

.background-banner-content img, .background-banner-second-content img{
    height: 50px;
    width: 50px;
}

.background-banner-content a, .background-banner-second-content a {
    border-radius: 10px;
    padding: 5px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    background-color: white;
    box-shadow: 0 0 5px rgb(88, 88, 88);
}

.background-banner-content span, .background-banner-second-content span {
    max-width: 400px;
    color:#e0e0e0;
    text-shadow: 0 0 2px black;
    text-align: center;
}

div .background-banner-title {
    font-size: 30px;
    font-weight: bold;
    color: #df4242;
}


/* second wide banner */

.background-banner-second {
    position: relative;
}

.banner-second-back-img img{
    width: 100%;
    min-height: 200px;
    max-height: 300px;
    object-fit: cover;
    object-position: 0 0;
}
.banner-second-back-img:before {
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000069;
}


.background-banner-second-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    z-index: 2;
}
