.form-group--floating {
	position: relative;

	.form-label {
		position: absolute;
		top: 50%;
		left: 2%;
		transform: translate(0, -50%);
		transition: all 0.3s ease-in-out;
		pointer-events: none;
        color: $label-color;
	}

	.form-control {
		padding-top: 20px;
		width: 100%;
		height: 100%;
		border-radius: 10px;
		border: none;
		padding-inline: 15px;
		padding-bottom: 2px;
        background-color: $input-background-color;
		

		&::placeholder {
			color: transparent;
		}
	}

	&:focus-within .form-label,
	&:has(input:not(:placeholder-shown)) .form-label {
		top: 20%;
		left: 2%;
		transform: translate(0, -20%);
		font-size: 12px;
	}
}