* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	font-family:Arial, Helvetica, sans-serif;
}

.wrapper {
	max-width: 1240px;
	padding-inline: 20px;
	margin-inline: auto;
}

h3, p {
	margin-inline: auto;
	text-align: center;
	max-width: 1000px;
}

.task {
	margin-block: 50px;
}

.grid__container {
	display: grid;
	gap: 10px;
	align-items: center;
	border: 1px solid blue;
	padding: 5px;

	.grid__item {
		border: 1px solid green;
		padding: 5px;

		.item__content {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
			border: 1px solid red;
			padding: 5px;
			animation-name: shake;
			animation-iteration-count: infinite;
			animation-duration: 1s;
			animation-play-state: paused;
		}
	}
}

/* Tasks */
.task1 {

	.grid__container {
		grid-template: repeat(2, 1fr) / repeat(2, 1fr);
	}
}	

.task2 {
	.grid__container {
		grid-template-columns: 2fr 1fr 1fr;
	}
}

.task3 {
	.grid__container {
		grid-template: repeat(3, 1fr) / repeat(3, 1fr) ;
		align-items:normal;

		.item6 {
			grid-area: 2 / 2 / 4/ 4;
		}
	}
}

.task4 {
	.grid__container {
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		/* grid-template-columns: repeat(3, 1fr); */
	}

	/* @media (max-width: 600px) {
		.grid__container {
			grid-template-columns: 1fr;
		}
	} */
}

.task5 {
	.grid__container {
		grid-template-areas: "header header"
							"nav content"
							"footer footer";
		font-size: 14px;
		gap: 2px;
		background-image: url(green.jpg);
		background-size: cover;
		color: white;
		border-radius: 15px;

		.task {
			margin-block: 10px;
		}

		.header {
			grid-area: header;
			background: linear-gradient(rgba(29, 29, 29, 0.829), rgba(14, 87, 38, 0.904));
			border-radius: 15px;
			margin-bottom: 20px;
			margin-inline: 20px;
			backdrop-filter: blur(15px);

			.item__content h2 {
				text-align: left;
			}
			
		}

		.nav {
			align-self: flex-start;
			grid-area: nav;
			width: 200px;
			background-color: rgba(255, 255, 255, 0.192);
			backdrop-filter: blur(15px);
			border-radius: 15px;
			margin-inline: 20px;

			a {
				display: block;
				text-decoration: none;
				color: black;
				padding: 10px 40px;
				margin-block: 15px;
				box-shadow: 0 0 5px black;
				color: white;
				text-transform: uppercase;
				text-align: center;

				&:hover {
					transition: all 0.2s ease-in-out;
					transform: scale(0.9);
				}
			}
		}

		.content {
			grid-area: content;
			margin-inline: 20px;
			
			.item__content {
				display: grid;
				gap: 30px;
				grid-template: repeat(2, 1fr) / repeat(3, 1fr);

				border-radius: 15px;

				.cart {
					background-color: rgba(255, 255, 255, 0.192);
					backdrop-filter: blur(15px);
					border-radius: 15px;
					box-shadow: 0 0 10px rgb(41, 41, 41);

					img {
						height: 250px;
					}

					p {
						margin-top: 0;
						text-transform: capitalize;
					}
				}
			}
		}

		.footer {
			grid-area: footer;
			background: linear-gradient(rgb(14, 87, 38), rgb(29, 29, 29));
			margin-top: 20px;
			margin-inline: 20px;
		}

		#miniHeader{
			justify-content:left;
		}
	}
}

/* checkbox */

/* #blue__line:checked ~ .task .grid__container,
#green__line:checked ~ .task .grid__item,
#red__line:checked ~ .task .item__content {
	border: 1px solid transparent;
}  */

.label__wrap {
	position: fixed;
	top: 1%;
	left: 50%;
	display: flex;
	gap: 10px;
	background-color: rgba(221, 215, 215, 0.479);
	padding: 20px 55px;
	backdrop-filter: blur(5px);
	z-index: 1000;


	label {
		padding: 5px;
		margin-inline: auto;
		color: white;
		cursor: pointer;
		font-weight: bold;
		backdrop-filter: blur(5px);
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.747);
	}

	label[for="blue__line"] {
		background-color: rgba(0, 0, 255, 0.445);	
	}

	label[for="green__line"] {
		background-color: rgba(0, 128, 0, 0.349);	
	}
	label[for="red__line"] {
		background-color: rgba(255, 0, 0, 0.377);	
	}
}

#blue__line:checked ~ .label__wrap label[for="blue__line"],
#green__line:checked ~ .label__wrap label[for="green__line"],
#red__line:checked ~ .label__wrap label[for="red__line"] {
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.747) inset;
} 


.body .main .task :where(.line__visible__blue, .line__visible__green, .line__visible__red) {
	border: 1px solid transparent ;
}

.top__wrap{
	position: relative;


	.top {
		position: fixed;
		color: blueviolet;
		background-color: rgb(133, 133, 133);
		border-radius: 10px;
		font-weight: bolder;
		cursor: pointer;
		padding: 15px;
	}

}

