
/*ALL*/
:root {
	--background-primary-color: #19191B;
	--font-primary-color: white;
	--secondary-color: #BABABA;
	--primary-color:#5454d4;
	--primary-color-rgb: 84, 84, 212;
	--h2-font-size: 60px;
	--header-font-family: "Montserrat", sans-serif;
	--default-font-family: "Nunito Sans", sans-serif;
	--nav-links-font-size: 18px;
	--buttons-font-size: 21px;
	--primary-text-size: 21px;
	--media-break-point1: 375px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
	scroll-timeline: --headerTimeline y;
	overflow-x: hidden;
}

.container {
	max-width: 1248px;
	margin: 0 auto;
	padding-inline: 24px;
}

body {
	font-family: var(--default-font-family);
	overflow-x: hidden;

}

/*Navigation*/
nav {
	display: flex;
	gap: 40px;
	color: var(--secondary-color);
	font-size: 18px;

	a {
		text-decoration: none;
		color: currentColor;
		font-size: inherit;

		&:hover {
			color: var(--primary-color);
		}
	}
}

/*Btn*/
.btn {
	display: inline-flex;
	text-decoration: none;
	border-radius: 5px;
	justify-content: center;
	align-items: center;

	.btn-icon {

		&:first-child {
			margin-right: 8px;
		}

		&:last-child {
			margin-left: 8px;
		}
	}
}

.btn-outline {
	font-size: 16px;
	border: 1px solid currentColor;
	color: var(--font-primary-color);
	padding-block: 10px;
	padding-inline: 8px;
	text-align: center;
	
	&:hover {
		color: var(--secondary-color);
	}
}

.btn-primary {
	font-size: var(--buttons-font-size);
	background-color: var(--primary-color);
	color: var(--font-primary-color);
	padding: 16px 27px;

	&:hover {
		background-color: rgba(var(--primary-color-rgb), 0.7);
	}
}

/*Text*/
h2 {
	color: var(--font-primary-color);
	font-size: var(--h2-font-size);
	font-family: var(--header-font-family);
	line-height: 70px;
	font-weight: 700;
}

.text {
	color: var(--secondary-color);
}

.text__articles {
	font-size: var(--primary-text-size);
	line-height: 39px;
}

.text__description {
	font-size: 20px;
	line-height: 28px;
}

/*HEADER*/
.header {
	left: 50%;
	top: 0;
	background-color: var(--background-primary-color);

	.header__wrap {
		display: flex;
		justify-content: space-between;
		padding-block: 22px;
		align-items: center;

		.medium__gradient {
			background: linear-gradient(rgba(84, 84, 212, 0.27) 0%, rgba(84, 84, 212, 0.1134) 100%);
			position: absolute;
			width: 470px;
			height: 1235px;
			top: -250%;
			left: -5%;
			border-radius: 230px;
			transform: rotate(-55deg);
			filter: blur(300px);
			pointer-events: none;
		}

		.contact__us__btn a{
			width: 160px;
		}
	}	
}

.header nav {

	animation: header-animation;
	animation-timeline: --headerTimeline;
}

@keyframes header-animation {

	0% {
		flex-direction: row;
	}

	10%, 100% {
		flex-direction: column;
		position: fixed;
		top: 10%;
		left: calc(50vw - 600px);
		transform:translate(-120%, 0);
		z-index: 5;
		background-color: #5454d460;
		color: var(--secondary-color);
		border-radius: 10px;
		align-items: center;
		text-transform: uppercase;
		font-size: 14px;
		padding: 5px;
	}
}

/*SECTIONS*/
/*intro*/
.intro {
	background-color: var(--background-primary-color);
}

.intro__wrap {
	position: relative;
	display: flex;
	gap: 48px;
	justify-content: space-between;

	.medium__gradient {
		background: linear-gradient(180deg, rgba(251, 168, 28, 0.1066) 0%, rgba(224, 86, 136, 0.0615) 100%);
		position: absolute;
		width: 470px;
		height: 1235px;
		top: -20%;
		right: 0;
		border-radius: 230px;
		transform: rotate(65deg);
		filter: blur(300px);
		pointer-events: none;
	}

	.intro__text {
		padding-top: 124px;

		h1 {
			color: var(--font-primary-color);
			font-size: 80px;
			font-weight: 800;
			font-family: var(--header-font-family);
			line-height: 84px;
		}

		p {
			padding-block: 24px 50px;
		}
	}

	.intro__image {
		flex: 0 0 auto;
		display: flex;
		justify-content: center;

		.image__wrap {
			position: relative;

			.user-photo {
				position: relative;
				z-index: 2;
			}
	
			.rectangle { 
				position: absolute;
				top: 60px;
				left: -20px;
				z-index: 1;
			}
		}
	}

	.intro__symbols {
		position: absolute;
		height: 100%;
		width: 100%;
		pointer-events: none;

		.lightning {
			position: absolute;
			bottom: 80%;
			left: 55%;
			transform: translate(-50%, -50%);
		}

		.cirkles {
			position: absolute;
			bottom: 85%;
			right: 0;
			transform: translate(-50%, -50%);
		}

		.triangles {
			position: absolute;
			bottom: -5%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		.plus {
			position: absolute;
			bottom: 5%;
			right: 0;
			transform: translate(-50%, -50%);
			height: 33px;
			width: 33px;
		}
	}
}

/* tablet breakpoint */
@media (max-width: 960px) {

	.btn-primary {
		font-size: 16px;
		padding: 12px 21px;
	}

	.intro__wrap {
		justify-content: center;
		flex-direction: column;

		.intro__text {

			h1 {
				font-size: 62px;
				line-height: 83px;
			}

			p {
				font-size: 20px;
				line-height: 34px;
			}
		}	

		.image__wrap {

			img {
				width: 100%;
			}
		}

		.intro__symbols {
			position: absolute;
			height: 100%;
			width: 100%;
			pointer-events: none;
	
			.lightning {
				position: absolute;
				bottom: 45%;
				left: 10%;
				transform: translate(-50%, -50%);
			}
	
			.cirkles {
				position: absolute;
				bottom: 45%;
				right: 10%;
				transform: translate(-50%, -50%);
			}
	
			.triangles {
				position: absolute;
				bottom: -5%;
				left: 15%;
				transform: translate(-50%, -50%);
			}
	
			.plus {
				position: absolute;
				bottom: 5%;
				right: 10%;
				transform: translate(-50%, -50%);
				height: 33px;
				width: 33px;
			}
		}
		
	}
}

/* mobile breakpoint */
@media (max-width: 576px) {

	.intro__wrap {

		.intro__text {

			h1 {
				font-size: 42px;
				line-height: 63px;
			}

			p {
				font-size: 14px;
				line-height: 24px;
			}
		}	
	}
}



/*video*/
.video__section {
	background-color: var(--background-primary-color);
	padding-top: 150px;
}

.video__section__wrap {

	.video__article__wrap {
		display: flex;
		gap: 24px;
		padding-bottom: 50px;
	}

	.video__wrap {
		position: relative;

		video::-webkit-media-controls-panel {
			position: absolute;
			top: 50%;
			left: 50%;
			height: 48px;
			width: 48px;
			background: none;
			transform: scale(2.6) translate(-50%, -50%);
			margin-left: 38px;
			margin-top: 30px;	
		}
		
		video {
			height: auto;
			width: 100%;
		}

		video::-webkit-media-controls-play-button {
			position: relative;
			top: 0;
			left: 0;
			background-color: var(--primary-color);
			border-radius: 50%;
			height: 48px;
			width: 48px;
			margin: 0;
			margin-left: -16px;
		}

		video::-webkit-media-controls-current-time-display,
		video::-webkit-media-controls-time-remaining-display,
		video::-webkit-media-controls-volume-control-container,
		video::-webkit-media-controls-fullscreen-button,
		video::-webkit-media-controls-timeline,
		video::-webkit-media-controls-overlay-enclosure,
		video::-webkit-media-controls-mute-button {
			display: none;
		}
	}
}	

/* tablet breakpoint */
@media (max-width: 960px) {
	.video__section {
		padding-top: 140px;
	}

	.video__article__wrap {
		flex-direction: column;

		h2 {
			font-size: 46px;
			line-height: 54px;
		}

		p {
			font-size: 18px;
			line-height: 24px;
		}
	}

	.video__section__wrap .video__wrap video::-webkit-media-controls-panel {
		top: 36%;
		left: 43%;
		background: none;
		transform: scale(1.8);
	}
}

/* mobile breakpoint */
@media (max-width: 576px) {

	.video__article__wrap {
		flex-direction: column;

		h2 {
			font-size: 36px;
			line-height: 54px;
		}

		p {
			font-size: 14px;
			line-height: 24px;
		}
	}

	.video__section__wrap .video__wrap video::-webkit-media-controls-panel {
		top: 24%;
		left: 36%;
		background: none;
		transform: scale(1);
	}
}

/*service*/
.service__section {
	position: relative;
	background-color: var(--background-primary-color);
	padding-top: 150px;

		.service__symbols {
			position: absolute;
			height: 100%;
			width: 100%;
			pointer-events: none;
			max-width: 1200px;

			.triangles {
				position: absolute;
				top: -3%;
				left: 2%;
			}

			.plus {
				position: absolute;
				top: 10%;
				right: 0;
				transform: rotate(-31deg);
			}
		}

		.gradient__wrap {
			position: absolute;
			height: 100%;
			width: 100%;
			pointer-events: none;
			max-width: 1200px;

			.small__gradient {
				background: linear-gradient(180deg, rgba(84, 84, 212, 0.21) 0%, rgba(84, 84, 212, 0.0882) 100%);
				position: absolute;
				width: 470px;
				height: 510px;
				top: -20%;
				left: -30%;
				border-radius: 230px;
				transform: rotate(54deg);
				filter: blur(300px);
				pointer-events: none;
			}
	
			.large__gradient {
				background: linear-gradient(180deg, rgba(251, 168, 28, 0.048) 0%, rgba(224, 86, 136, 0.018) 100%);
				position: absolute;
				width: 860px;
				height: 2576px;
				top: -85%;
				right: -20%;
				border-radius: 230px;
				transform: rotate(65deg);
				filter: blur(300px);
				pointer-events: none;
			}

			.medium__gradient{
				background: linear-gradient(180deg, rgba(84, 84, 212, 0.2) 0%, rgba(84, 84, 212, 0.084) 100%);
				position: absolute;
				width: 600px;
				height: 650px;
				bottom: -50%;
				right: -40%;
				border-radius: 230px;
				transform: rotate(-125deg);
				filter: blur(300px);
				pointer-events: none;
		
			}
		}
}

.service__section__list {
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	grid-template-columns: repeat(3, 1fr);
	gap: 18px;
	

		.section__title {
			grid-column: 1/4 ;
			padding-bottom: 98px;
		}

		.service__section__item {
			text-align: center;
			display: grid;

			span {
				font-size: 28px;
				color: var(--font-primary-color);
				line-height: 38px;
				font-weight: 600;
				padding-block: 20px;
			}

			.icon__wrap {
				justify-self: center;
				display: flex;
				height: 69px;
				width: 69px;
				border-radius: 50%;
				align-items: center;
				justify-content: center;
			}

			.icon1, .icon5 {
				background-color: #5454D41A;
			}
			.icon2, .icon6 {
				background-color: #F040371A;
			}
			.icon3, .icon4 {
				background-color: #FEDC5A1A;
			}
		}
}

/*portfolio*/
.portfolio__section {
	background-color: var(--background-primary-color);
	padding-top: 150px;
	padding-bottom: 168px;
}

.portfolio__section__wrap {
	position: relative;

	h2 {
		padding-bottom: 70px;
	}

	.portfolio__symbols {
		position: absolute;
		height: 100%;
		width: 100%;
		pointer-events: none;
		max-width: 1200px;

		.circles {
			position: absolute;
			top: 10%;
			right: 3%;
			transform: rotate(-27deg);
		}

		.lightning {
			position: absolute;
			bottom: -15%;
			left: -5%;
		}
	}
	
}

.portfolio__project__slider {
	position: relative;
	width: 1200px;
	height: 424px;

	.portfolio__projects__list {
		display: flex;
		flex-direction: row;
		height: 100%;
		width: 100%;

		.projects__item {
			padding: 24px;
			transition: all 0.5s ease-in-out;
			background-color: #1E1E20;
			cursor: pointer;
		}

		.item1 {
			position: absolute;
			top: 0;
			left: 0;
		}

		.item2 {
			position: absolute;
			top: 58px;
			left: 408px;
		}
		
		.item3 {
			position: absolute;
			top: 116px;
			left: 813px;
		}

		/*item1__checked */
		#check1:checked ~ .item1 {
			top:50%;
			left: 75%;
			z-index: 2;
			transform: translate(-75%, -50% ) scale(2);
			background-color: transparent;
		}

		#check1:checked ~ .item2 {
			top: -10%;
			left: 0;
			transform: scale(0.8);
		}

		#check1:checked ~ .item3 {
			top: 40%;
			left: 0;
			transform: scale(0.8);
		}
		
		/*item2__checked */
		#check2:checked ~ .item2 {
			top:50%;
			left: 75%;
			z-index: 2;
			transform: translate(-75%, -50% ) scale(2);
			background-color: transparent;
		}

		#check2:checked ~ .item1 {
			top: -10%;
			left: 0;
			transform: scale(0.8);
		}

		#check2:checked ~ .item3 {
			top: 40%;
			left: 0;
			transform: scale(0.8);
		}

		/*item3__checked */
		#check3:checked ~ .item3 {
			top:50%;
			left: 75%;
			z-index: 2;
			transform: translate(-75%, -50% ) scale(2);
			background-color: transparent;
		}

		#check3:checked ~ .item1 {
			top: -10%;
			left: 0;
			transform: scale(0.8);
		}

		#check3:checked ~ .item2 {
			top: 40%;
			left: 0;
			transform: scale(0.8);
		}

		/* radiobutton design */
		.radiobutton1:before {
			position: absolute;
			left: 48%;
			top: 466px;
			content: url("icons/Ellipse\ 49.png");
		}

		#check1:checked ~ .radiobutton1:before{
			content: url("icons/Rectangle\ 9544.png");
		}

		.radiobutton2:before {
			position: absolute;
			left: 50%;
			top: 466px;
			content: url("icons/Ellipse\ 49.png");
		}

		#check2:checked ~ .radiobutton2:before{
			content: url("icons/Rectangle\ 9544.png");
		}

		.radiobutton3:before {
			position: absolute;
			left: 52%;
			top: 466px;
			content: url("icons/Ellipse\ 49.png");
		}

		#check3:checked ~ .radiobutton3:before{
			content: url("icons/Rectangle\ 9544.png");
		}
		
	}
}

/*contact us*/
.contact-us__section {
	background: #1C1C1E;

	.contact-us__wrap {
		position: relative;
		display: flex;
		gap: 173px;
		align-items: center;
		overflow: hidden;


		h2 {
			padding-block: 187px;
			line-height: 66px;
			font-size: 60px;
			font-weight: 700;
		}

		a {
			height: 60px;
			width: 201px;
		}

		.contact-us__symbols {
			position: absolute;
			height: 100%;
			width: 100%;
			pointer-events: none;
			max-width: 1200px;

			.circles {
				position: absolute;
				bottom: 10%;
				left: 3%;
			}

			.plus {
				position: absolute;
				top: 20%;
				right: 3%;
			}
		}
	}



	
}

/*FOOTER*/
.footer{
	background-color: var(--background-primary-color);
}

.footer__wrap {
	position: relative;
	display: flex;
	justify-content: space-between;
	padding-block: 22px;
	align-items: center;
	padding-block: 50px 100px;

	.copywriting a {
		font-size: 16px;
		text-decoration: none;
		color: var(--secondary-color);
		font-weight: 400;

	}
}


/* Lightbox */


.lightbox {
	left: 50%;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	background-color: #222422bd;
	z-index: 1000;

	form {
		position: relative;
		width: 300px;
		display: flex;
		flex-direction: column;
		padding: 15px;
		background-color: var(--primary-color);
		color: var(--font-primary-color);
		margin: 0 auto;
		margin-block: 30vh;
		border-radius: 15px;

		.form__header {
			padding-bottom: 15px;
		}

		button {
			background-color: #49ad51;
			color: var(--font-primary-color);
			padding-block: 10px;
			border-radius: 5px;
		}

		input {
			border-radius: 5px;
			padding-block: 5px;
		}

		label {
			font-size: 14px;
		}

		.modal-close {
			position: absolute;
			top: 5px;
			right: 5px;
			width: auto;

			img {
				width: 24px;
				filter: invert(100%);
			}
		}
	}
}

.lightbox:target {
	display: block;
}

html:target {
	overflow: hidden;
}

html:target .lightbox{
	display: block;
}