* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: #161513;
	color: white;
	font-family:  "Poppins", sans-serif;
}

.container {
	max-width: 810px;
	margin: 0 auto;
}

/*header */

.header {
	background-color: #222222;
	height: 82px;
}

.header__wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;

}

.header nav {
	display: flex;
	gap: 70px;
}

.header nav a {
	text-decoration: none;
	color: white;
	font-size: 15px;
}

/*intro */

.intro__wrap {
	text-align: center;
	max-width: 680px;
	margin: 0 auto;

}

.intro h1 {
	font-size: 55px;
	font-weight: 800;
	line-height: 63px;
	margin: 40px 0;

}

.intro p {
	font-size: 18px;
	font-weight: 300;
	color: #C5C5C5;
	margin-top: 0;
	margin-bottom: 54px;

}

.btn {
	font-size: 21px;
	font-weight: 600;
	text-decoration: none;
	color: #222222;
	background-color: white;
	border-radius: 50px;
	padding: 17px 30px;
	border: 2px solid transparent;
	transition: all 0.3s ease-in-out;
}

.btn:hover {
	color: white;
	background-color: #222222;
	-webkit-text-stroke: 0.2px orange;
	border: 2px solid white;
}

.intro__buttons {
	display: flex;
	justify-content: center;
	gap: 18px
}

.intro img {
	background: linear-gradient(#FF8660, #8000FF 80%, transparent 98%);
	border-radius: 50%;
	margin-top: 105px;
}

.intro h1 span {
	background: linear-gradient(90deg, #FF8660, #9A33FF);
	background-clip: text;
	color: transparent;
}

